.badge-70 {
    background-image: url(../img/badges-70-sprite.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
    background-position: 0 -980px
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .badge-70 {
        background-image: url(../img/badges-70-sprite@x2.png);
        background-size: 1050px 1050px
    }
}

.badge-70.ACM {
    background-position: -70px 0
}

.badge-70.ADL {
    background-position: -700px -420px
}

.badge-70.AEK {
    background-position: 0 -70px
}

.badge-70.AFW {
    background-position: -70px -70px
}

.badge-70.AJA {
    background-position: -140px 0
}

.badge-70.APO {
    background-position: -140px -70px
}

.badge-70.ARS {
    background-position: 0 -140px
}

.badge-70.ASI {
    background-position: -70px -140px
}

.badge-70.AST {
    background-position: -140px -140px
}

.badge-70.ASY {
    background-position: -210px 0
}

.badge-70.ATA {
    background-position: -210px -70px
}

.badge-70.ATH {
    background-position: -210px -140px
}

.badge-70.ATM {
    background-position: 0 -210px
}

.badge-70.AUS {
    background-position: -70px -210px
}

.badge-70.AVL {
    background-position: -140px -210px
}

.badge-70.AZ {
    background-position: -210px -210px
}

.badge-70.B04 {
    background-position: -280px 0
}

.badge-70.BAL {
    background-position: -280px -70px
}

.badge-70.BAR {
    background-position: -280px -140px
}

.badge-70.BAT {
    background-position: -280px -210px
}

.badge-70.BBV {
    background-position: 0 -280px
}

.badge-70.BCN {
    background-position: -70px -280px
}

.badge-70.BEF {
    background-position: -140px -280px
}

.badge-70.BEL {
    background-position: -210px -280px
}

.badge-70.BHA {
    background-position: -280px -280px
}

.badge-70.BIR {
    background-position: -350px 0
}

.badge-70.BJK {
    background-position: -350px -70px
}

.badge-70.BLB {
    background-position: -350px -140px
}

.badge-70.BLP {
    background-position: -350px -210px
}

.badge-70.BMG {
    background-position: -350px -280px
}

.badge-70.BOL {
    background-position: 0 -350px
}

.badge-70.BOR {
    background-position: -70px -350px
}

.badge-70.BOU {
    background-position: -140px -350px
}

.badge-70.BRA {
    background-position: -210px -350px
}

.badge-70.BRE {
    background-position: -280px -350px
}

.badge-70.BRG {
    background-position: -350px -350px
}

.badge-70.BRI {
    background-position: -420px 0
}

.badge-70.BRR {
    background-position: -420px -70px
}

.badge-70.BRU {
    background-position: -420px -140px
}

.badge-70.BRW {
    background-position: -420px -210px
}

.badge-70.BRY {
    background-position: -420px -280px
}

.badge-70.BSC {
    background-position: -420px -350px
}

.badge-70.BSL {
    background-position: 0 -420px
}

.badge-70.BUR {
    background-position: -70px -420px
}

.badge-70.BVB {
    background-position: -140px -420px
}

.badge-70.CAR {
    background-position: -210px -420px
}

.badge-70.CEL {
    background-position: -280px -420px
}

.badge-70.CHA {
    background-position: -350px -420px
}

.badge-70.CHE {
    background-position: -420px -420px
}

.badge-70.CHF {
    background-position: -490px 0
}

.badge-70.CHT {
    background-position: -490px -70px
}

.badge-70.CLV {
    background-position: -490px -140px
}

.badge-70.CMU {
    background-position: -490px -210px
}

.badge-70.COU {
    background-position: -490px -280px
}

.badge-70.COV {
    background-position: -490px -350px
}

.badge-70.CPH {
    background-position: -490px -420px
}

.badge-70.CRE {
    background-position: 0 -490px
}

.badge-70.CRW {
    background-position: -70px -490px
}

.badge-70.CRY {
    background-position: -140px -490px
}

.badge-70.CSK {
    background-position: -210px -490px
}

.badge-70.CUT {
    background-position: -280px -490px
}

.badge-70.CZV {
    background-position: -350px -490px
}

.badge-70.DAG {
    background-position: -420px -490px
}

.badge-70.DER-new {
    background-position: -490px -490px
}

.badge-70.DER {
    background-position: -560px 0
}

.badge-70.DMK {
    background-position: -560px -70px
}

.badge-70.DND {
    background-position: -560px -140px
}

.badge-70.DNR {
    background-position: -560px -210px
}

.badge-70.DON {
    background-position: -560px -280px
}

.badge-70.DYK {
    background-position: -560px -350px
}

.badge-70.DZG {
    background-position: -560px -420px
}

.badge-70.EAS {
    background-position: -560px -490px
}

.badge-70.EVE {
    background-position: 0 -560px
}

.badge-70.EXE {
    background-position: -70px -560px
}

.badge-70.FCA {
    background-position: -140px -560px
}

.badge-70.FCB {
    background-position: -210px -560px
}

.badge-70.FCL {
    background-position: -280px -560px
}

.badge-70.FCSM {
    background-position: -350px -560px
}

.badge-70.FEN {
    background-position: -420px -560px
}

.badge-70.FEY {
    background-position: -490px -560px
}

.badge-70.FGR {
    background-position: -560px -560px
}

.badge-70.FIO {
    background-position: -630px 0
}

.badge-70.FKQ {
    background-position: -630px -70px
}

.badge-70.FKV {
    background-position: -630px -140px
}

.badge-70.FLE {
    background-position: -630px -210px
}

.badge-70.FUL {
    background-position: -630px -280px
}

.badge-70.GAL {
    background-position: -630px -350px
}

.badge-70.GIL {
    background-position: -630px -420px
}

.badge-70.GRI {
    background-position: -630px -490px
}

.badge-70.GRO {
    background-position: -630px -560px
}

.badge-70.HAL {
    background-position: 0 -630px
}

.badge-70.HBS {
    background-position: -70px -630px
}

.badge-70.HOF {
    background-position: -140px -630px
}

.badge-70.HUD {
    background-position: -210px -630px
}

.badge-70.HUL {
    background-position: -280px -630px
}

.badge-70.IBA {
    background-position: -350px -630px
}

.badge-70.IPS {
    background-position: -420px -630px
}

.badge-70.JUV {
    background-position: -490px -630px
}

.badge-70.KAA {
    background-position: -560px -630px
}

.badge-70.KOE {
    background-position: -630px -630px
}

.badge-70.KRA {
    background-position: -700px 0
}

.badge-70.KYS {
    background-position: -700px -70px
}

.badge-70.LAZ {
    background-position: -700px -140px
}

.badge-70.LEE {
    background-position: -700px -210px
}

.badge-70.LEG {
    background-position: -700px -280px
}

.badge-70.LEI {
    background-position: -700px -350px
}

.badge-70.LEP {
    background-position: 0 0
}

.badge-70.LIB {
    background-position: -700px -490px
}

.badge-70.LIN {
    background-position: -700px -560px
}

.badge-70.LIV {
    background-position: -700px -630px
}

.badge-70.LKM {
    background-position: 0 -700px
}

.badge-70.LNO {
    background-position: -70px -700px
}

.badge-70.LOK {
    background-position: -140px -700px
}

.badge-70.LUD {
    background-position: -210px -700px
}

.badge-70.LUT {
    background-position: -280px -700px
}

.badge-70.LYN {
    background-position: -350px -700px
}

.badge-70.M05 {
    background-position: -420px -700px
}

.badge-70.MAN {
    background-position: -490px -700px
}

.badge-70.MAR {
    background-position: -560px -700px
}

.badge-70.MCH {
    background-position: -630px -700px
}

.badge-70.MCI {
    background-position: -700px -700px
}

.badge-70.MCO {
    background-position: -770px 0
}

.badge-70.MFF {
    background-position: -770px -70px
}

.badge-70.MID {
    background-position: -770px -140px
}

.badge-70.MIL {
    background-position: -770px -210px
}

.badge-70.MKD {
    background-position: -770px -280px
}

.badge-70.MOL {
    background-position: -770px -350px
}

.badge-70.MOR {
    background-position: -770px -420px
}

.badge-70.MTA {
    background-position: -770px -490px
}

.badge-70.MUN {
    background-position: -770px -560px
}

.badge-70.NAP {
    background-position: -770px -630px
}

.badge-70.NEW {
    background-position: -770px -700px
}

.badge-70.NFO {
    background-position: 0 -770px
}

.badge-70.NHT {
    background-position: -70px -770px
}

.badge-70.NIC {
    background-position: -140px -770px
}

.badge-70.NKM {
    background-position: -210px -770px
}

.badge-70.NOR {
    background-position: -280px -770px
}

.badge-70.NOT {
    background-position: -350px -770px
}

.badge-70.NWP {
    background-position: -420px -770px
}

.badge-70.OFK {
    background-position: -490px -770px
}

.badge-70.OLD {
    background-position: -560px -770px
}

.badge-70.OLY {
    background-position: -630px -770px
}

.badge-70.OSM {
    background-position: -700px -770px
}

.badge-70.OXF {
    background-position: -770px -770px
}

.badge-70.PAO {
    background-position: -840px 0
}

.badge-70.PBG {
    background-position: -840px -70px
}

.badge-70.PET {
    background-position: -840px -140px
}

.badge-70.PLY {
    background-position: -840px -210px
}

.badge-70.PLZ {
    background-position: -840px -280px
}

.badge-70.PNE {
    background-position: -840px -350px
}

.badge-70.POR {
    background-position: -840px -420px
}

.badge-70.PSG {
    background-position: -840px -490px
}

.badge-70.PSV {
    background-position: -840px -560px
}

.badge-70.PTO {
    background-position: -840px -630px
}

.badge-70.PTV {
    background-position: -840px -700px
}

.badge-70.QAB {
    background-position: -840px -770px
}

.badge-70.QPR {
    background-position: 0 -840px
}

.badge-70.RAP {
    background-position: -70px -840px
}

.badge-70.RBL {
    background-position: -140px -840px
}

.badge-70.RDG {
    background-position: -210px -840px
}

.badge-70.RMA {
    background-position: -280px -840px
}

.badge-70.RMD {
    background-position: -350px -840px
}

.badge-70.ROC {
    background-position: -420px -840px
}

.badge-70.RSB {
    background-position: -490px -840px
}

.badge-70.RSO {
    background-position: -560px -840px
}

.badge-70.RSV {
    background-position: -630px -840px
}

.badge-70.RTH {
    background-position: -700px -840px
}

.badge-70.RUB {
    background-position: -770px -840px
}

.badge-70.S04 {
    background-position: -840px -840px
}

.badge-70.SBR {
    background-position: -910px 0
}

.badge-70.SCL {
    background-position: -910px -70px
}

.badge-70.SCU {
    background-position: -910px -140px
}

.badge-70.SDK {
    background-position: -910px -210px
}

.badge-70.SEV {
    background-position: -910px -280px
}

.badge-70.SHR {
    background-position: -910px -350px
}

.badge-70.SHU {
    background-position: -910px -420px
}

.badge-70.SHW {
    background-position: -910px -490px
}

.badge-70.SIO {
    background-position: -910px -560px
}

.badge-70.SKE {
    background-position: -910px -630px
}

.badge-70.SOU {
    background-position: -910px -700px
}

.badge-70.SPP {
    background-position: -910px -770px
}

.badge-70.SPR {
    background-position: -910px -840px
}

.badge-70.SSL {
    background-position: 0 -910px
}

.badge-70.STE {
    background-position: -70px -910px
}

.badge-70.STK {
    background-position: -140px -910px
}

.badge-70.STO {
    background-position: -210px -910px
}

.badge-70.STU {
    background-position: -280px -910px
}

.badge-70.STV {
    background-position: -350px -910px
}

.badge-70.SUN {
    background-position: -420px -910px
}

.badge-70.SUT {
    background-position: -490px -910px
}

.badge-70.SWA {
    background-position: -560px -910px
}

.badge-70.SWI {
    background-position: -630px -910px
}

.badge-70.TOT {
    background-position: -700px -910px
}

.badge-70.VAL {
    background-position: -770px -910px
}

.badge-70.VIL {
    background-position: -840px -910px
}

.badge-70.VIT {
    background-position: -910px -910px
}

.badge-70.VTG {
    background-position: -980px 0
}

.badge-70.WAT {
    background-position: -980px -70px
}

.badge-70.WBA {
    background-position: -980px -140px
}

.badge-70.WHU {
    background-position: -980px -210px
}

.badge-70.WIG {
    background-position: -980px -280px
}

.badge-70.WIM {
    background-position: -980px -350px
}

.badge-70.WLS {
    background-position: -980px -420px
}

.badge-70.WOB {
    background-position: -980px -490px
}

.badge-70.WOL {
    background-position: -980px -560px
}

.badge-70.WYC {
    background-position: -980px -630px
}

.badge-70.YEO {
    background-position: -980px -700px
}

.badge-70.ZLN {
    background-position: -980px -770px
}

.badge-70.ZNT {
    background-position: -980px -840px
}

.badge-70.ZRL {
    background-position: -980px -910px
}

.badge-70.default {
    background-position: 0 -980px
}

.badge-70.t185 {
    background-position: -70px -980px
}