h1, h2, h3, h4, h5, h6, p {
    margin: .8rem 0;
}

.body-wrapper {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #028c70, #3b2b5a);
    overflow: auto;
    display: flex;
}

.body-wrapper, .body-wrapper * {
    color: #fff;
    box-sizing: border-box;
}

.body-wrapper > * {
    height: 100%;
}

.sidebar {
    background: #035143;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.sidebar > .li {
    border: 1px solid #2d6058;
    border-width: 1px 0;
    text-align: center;
    height: 70px;
    background: #035143;
    flex: 1;
    opacity: .9;
    cursor: pointer;
    display: flex;
}

.sidebar > .li:hover {
    opacity: 1;
}

.sidebar > .li.selected {
    border-left: 5px solid #f9d402;
    background: #1f5b3d;
}

.sidebar > .li > img {
    height: 100%;
    width: auto;
    margin: auto;
}

.sidebar > .li:not(.profile) {
    max-height: 110px;
}

.sidebar > .li:not(.profile) > img {
    max-height: 70px;
}

.sidebar > .li.profile {
    height: 250px;
    padding: 20px;
    opacity: 1;
    cursor: auto;
    display: block;
}

.sidebar > .li.profile > img {
    height: 100%;
    max-width: 100%;
}

.sidebar > .li:nth-of-type(2) > img {
    transform: translateX(-9px);
}

.sidebar > .li:nth-of-type(4) > img {
    transform: translateX(5px);
}

.sidebar > .li:nth-of-type(5) > img {
    transform: translateX(3px);
}

.sidebar > .li:last-of-type > img {
    transform: translateX(3px);
}
.page-content {
    flex: 1;
}

.row-grp{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.team {
    background: #084239;
    position: relative;
    display: flex;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.team .divider {
    cursor: auto;
}

.team .team1 {
    border-right: 1px solid #fff;
    border-radius: 5px 0 0 5px;
}

.team .team2 {
    border-radius: 0 5px 5px 0;
}

.team .team1, .team .team2 {
    width: 50%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
}

.team .team1 > div, .team .team2 > div {
    opacity: .8;
}

.team .team1:hover > div, .team .team2:hover > div {
    opacity: 1;
}

.team .team1 > div[class^='badge-'], .team .team2 > div[class^='badge-'] {
    margin: 10px auto;
}

.divider {
    height: 100%;
    position: absolute;
}

.win-team-1 .divider {
    left: calc(50% - 19px);
    top: 0;
}

.win-team-2 .divider {
    left: calc(50% - 19px);
    top: 0;
}

.win-team-n .divider {
    left: calc(50% - 19px);
    top: 0;
}

.win-team-n .team1 {
    border-width: 0;
}

.win-team-1 .team1 {
    background: #f9d402;
}

.win-team-2 .team2 {
    background: #f9d402;
}

.win-team-1 .team2 {
    background: #084239;
}

.win-team-2 .team1 {
    background: #0e3a35;
}

.team2 .label, .team1 .label {
    font-size: 18px;
}

.win-team-2 .team2 .label, .win-team-1 .team1 .label {
    color: black;
}

.date {
    margin: 15px 5px 8px 5px;
}
@media (max-width: 768px){
    .sidebar{
        width: 190px;
    }
    .sidebar > .li.profile > img {
        height: 80%;
        margin: 10% 0;
        max-width: 100%;
    }
    .page-content {
        min-width: 100%;
    }
}
@media (max-width: 549px){
    .sidebar{
        display: none;
    }
    .page-content {
        min-width: 100%;
    }
}